{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-right">
				{% if orders %}
					<a href="{{ orders }}" data-toggle="tooltip" title="{{ button_order }}" class="btn btn-warning"><i class="fas fa-receipt"></i></a>
				{% endif %}
				<button type="button" data-action="{{ save }}" data-form="#customer-form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="customer-form">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a href="#tab-general" data-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
						<li class="nav-item"><a href="#tab-address" data-toggle="tab" class="nav-link">{{ tab_address }}</a></li>
						{% if customer_id %}
							<li class="nav-item"><a href="#tab-history" data-toggle="tab" class="nav-link">{{ tab_history }}</a></li>
							<li class="nav-item"><a href="#tab-transaction" data-toggle="tab" class="nav-link">{{ tab_transaction }}</a></li>
							<li class="nav-item"><a href="#tab-reward" data-toggle="tab" class="nav-link">{{ tab_reward }}</a></li>
							<li class="nav-item"><a href="#tab-ip" data-toggle="tab" class="nav-link">{{ tab_ip }}</a></li>
						{% endif %}
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab-general">
							<fieldset>
								<legend>{{ text_account }}</legend>
								<div class="form-group row">
									<label for="input-store" class="col-sm-2 col-form-label">{{ entry_store }}</label>
									<div class="col-sm-10">
										<select name="store_id" id="input-store" class="form-control">
											{% for store in stores %}
												{% if store.store_id == store_id %}
													<option value="{{ store.store_id }}" selected="selected">{{ store.name }}</option>
												{% else %}
													<option value="{{ store.store_id }}">{{ store.name }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label for="input-customer-group" class="col-sm-2 col-form-label">{{ entry_customer_group }}</label>
									<div class="col-sm-10">
										<select name="customer_group_id" id="input-customer-group" class="form-control">
											{% for customer_group in customer_groups %}
												{% if customer_group.customer_group_id == customer_group_id %}
													<option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
												{% else %}
													<option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group row required">
									<label for="input-firstname" class="col-sm-2 col-form-label">{{ entry_firstname }}</label>
									<div class="col-sm-10">
										<input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control"/></div>
								</div>
								<div class="form-group row required">
									<label for="input-lastname" class="col-sm-2 col-form-label">{{ entry_lastname }}</label>
									<div class="col-sm-10">
										<input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control"/></div>
								</div>
								<div class="form-group row required">
									<label for="input-email" class="col-sm-2 col-form-label">{{ entry_email }}</label>
									<div class="col-sm-10">
										<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
									</div>
								</div>
								<div class="form-group row required">
									<label for="input-telephone" class="col-sm-2 col-form-label">{{ entry_telephone }}</label>
									<div class="col-sm-10">
										<input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control"/>
									</div>
								</div>
								{% for custom_field in custom_fields %}
									{% if custom_field.location == 'account' %}
										{% if custom_field.type == 'select' %}
											<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order }}">
												<label for="input-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
												<div class="col-sm-10">
													<select name="custom_field[{{ custom_field.custom_field_id }}]" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control">
														<option value="">{{ text_select }}</option>
														{% for custom_field_value in custom_field.custom_field_value %}
															{% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == account_custom_field[custom_field.custom_field_id] %}
																<option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
															{% else %}
																<option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										{% endif %}
										{% if custom_field.type == 'radio' %}
											<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order }}">
												<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
												<div class="col-sm-10">
													<div>
														{% for custom_field_value in custom_field.custom_field_value %}
															<label class="form-check">
																{% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == account_custom_field[custom_field.custom_field_id] %}
																	<input type="radio" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" class="form-check-input"/>
																	{{ custom_field_value.name }}
																{% else %}
																	<input type="radio" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
																	{{ custom_field_value.name }}
																{% endif %}
															</label>
														{% endfor %}
													</div>
												</div>
											</div>
										{% endif %}
										{% if custom_field.type == 'checkbox' %}
											<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order }}">
												<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
												<div class="col-sm-10">
													<div class="form-control" style="height: 150px; overflow: auto;">
														{% for custom_field_value in custom_field.custom_field_value %}
															<label class="form-check">
																{% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in account_custom_field[custom_field.custom_field_id] %}
																	<input type="checkbox" name="custom_field[{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" class="form-check-input"/> {{ custom_field_value.name }}
																{% else %}
																	<input type="checkbox" name="custom_field[{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> {{ custom_field_value.name }}
																{% endif %}
															</label>
														{% endfor %}
													</div>
												</div>
											</div>
										{% endif %}
										{% if custom_field.type == 'text' %}
											<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order }}">
												<label for="input-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
												<div class="col-sm-10">
													<input type="text" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field.custom_field_id] ? account_custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
												</div>
											</div>
										{% endif %}
										{% if custom_field.type == 'textarea' %}
											<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order }}">
												<label for="input-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
												<div class="col-sm-10">
													<textarea name="custom_field[{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">{{ account_custom_field[custom_field.custom_field_id] ? account_custom_field[custom_field.custom_field_id] : custom_field.value }}</textarea>
												</div>
											</div>
										{% endif %}
										{% if custom_field.type == 'file' %}
											<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order }}">
												<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
												<div class="col-sm-10">
													<button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fas fa-upload"></i> {{ button_upload }}</button>
													<input type="hidden" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field.custom_field_id] ? account_custom_field[custom_field.custom_field_id] }}" id="input-custom-field{{ custom_field.custom_field_id }}"/>
												</div>
											</div>
										{% endif %}
										{% if custom_field.type == 'date' %}
											<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order }}">
												<label for="input-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
												<div class="col-sm-10">
													<div class="input-group date">
														<input type="text" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field.custom_field_id] ? account_custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
														<div class="input-group-append">
															<div class="input-group-text"><i class="fas fa-calendar"></i></div>
														</div>
													</div>
												</div>
											</div>
										{% endif %}
										{% if custom_field.type == 'time' %}
											<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order }}">
												<label for="input-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
												<div class="col-sm-10">
													<div class="input-group time">
														<input type="text" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field.custom_field_id] ? account_custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
														<div class="input-group-append">
															<div class="input-group-text"><i class="fas fa-calendar"></i></div>
														</div>
													</div>
												</div>
											</div>
										{% endif %}
										{% if custom_field.type == 'datetime' %}
											<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order }}">
												<label for="input-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
												<div class="col-sm-10">
													<div class="input-group datetime">
														<input type="text" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ account_custom_field[custom_field.custom_field_id] ? account_custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="form-control"/>
														<div class="input-group-append">
															<div class="input-group-text"><i class="fas fa-calendar"></i></div>
														</div>
													</div>
												</div>
											</div>
										{% endif %}
									{% endif %}
								{% endfor %}
							</fieldset>
							<fieldset>
								<legend>{{ text_password }}</legend>
								<div class="form-group row required">
									<label for="input-password" class="col-sm-2 col-form-label">{{ entry_password }}</label>
									<div class="col-sm-10">
										<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" autocomplete="off"/>
									</div>
								</div>
								<div class="form-group row required">
									<label for="input-confirm" class="col-sm-2 col-form-label">{{ entry_confirm }}</label>
									<div class="col-sm-10">
										<input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" autocomplete="off" id="input-confirm" class="form-control"/>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>{{ text_other }}</legend>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">{{ entry_newsletter }}</label>
									<div class="col-sm-10">
										<div class="btn-group btn-group-toggle" data-toggle="buttons">
											{% if newsletter %}
												<label class="btn btn-outline-secondary active"><input type="radio" name="newsletter" value="1" checked="checked"/> {{ text_yes }}</label>
												<label class="btn btn-outline-secondary"><input type="radio" name="newsletter" value="0"/> {{ text_no }}</label>
											{% else %}
												<label class="btn btn-outline-secondary"><input type="radio" name="newsletter" value="1"/> {{ text_yes }}</label>
												<label class="btn btn-outline-secondary active"><input type="radio" name="newsletter" value="0" checked="checked"/> {{ text_no }}</label>
											{% endif %}
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">{{ entry_status }}</label>
									<div class="col-sm-10">
										<div class="btn-group btn-group-toggle" data-toggle="buttons">
											{% if status %}
												<label class="btn btn-outline-secondary active"><input type="radio" name="status" value="1" checked="checked"/> {{ text_enabled }}</label>
												<label class="btn btn-outline-secondary"><input type="radio" name="status" value="0"/> {{ text_disabled }}</label>
											{% else %}
												<label class="btn btn-outline-secondary"><input type="radio" name="status" value="1"/> {{ text_enabled }}</label>
												<label class="btn btn-outline-secondary active"><input type="radio" name="status" value="0" checked="checked"/> {{ text_disabled }}</label>
											{% endif %}
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">{{ entry_safe }}</label>
									<div class="col-sm-10">
										<div class="btn-group btn-group-toggle" data-toggle="buttons">
											{% if safe %}
												<label class="btn btn-outline-secondary active"><input type="radio" name="safe" value="1" checked="checked"/> {{ text_yes }}</label>
												<label class="btn btn-outline-secondary"><input type="radio" name="safe" value="0"/> {{ text_no }}</label>
											{% else %}
												<label class="btn btn-outline-secondary"><input type="radio" name="safe" value="1"/> {{ text_yes }}</label>
												<label class="btn btn-outline-secondary active"><input type="radio" name="safe" value="0" checked="checked"/> {{ text_no }}</label>
											{% endif %}
										</div>
										<small class="form-text text-muted">{{ help_safe }}</small>
									</div>
								</div>
							</fieldset>
						</div>
						<div id="tab-address" class="tab-pane">
							{% set address_row = 0 %}
							{% for address in addresses %}
								<fieldset id="address-row{{ address_row }}">
									<legend>{{ text_address }} {{ address_row + 1 }} <button type="button" onclick="$('#address-row{{ address_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-sm float-right"><i class="fas fa-minus-circle"></i></button></legend>
									<input type="hidden" name="address[{{ address_row }}][address_id]" value="{{ address.address_id }}"/>
									<div class="form-group row required">
										<label for="input-firstname{{ address_row }}" class="col-sm-2 col-form-label">{{ entry_firstname }}</label>
										<div class="col-sm-10">
											<input type="text" name="address[{{ address_row }}][firstname]" value="{{ address.firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname-{{ address_row }}" class="form-control"/>
										</div>
									</div>
									<div class="form-group row required">
										<label for="input-lastname{{ address_row }}" class="col-sm-2 col-form-label">{{ entry_lastname }}</label>
										<div class="col-sm-10">
											<input type="text" name="address[{{ address_row }}][lastname]" value="{{ address.lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname-{{ address_row }}" class="form-control"/>
										</div>
									</div>
									<div class="form-group row">
										<label for="input-company{{ address_row }}" class="col-sm-2 col-form-label">{{ entry_company }}</label>
										<div class="col-sm-10">
											<input type="text" name="address[{{ address_row }}][company]" value="{{ address.company }}" placeholder="{{ entry_company }}" id="input-company-{{ address_row }}" class="form-control"/>
										</div>
									</div>
									<div class="form-group row required">
										<label for="input-address-1{{ address_row }}" class="col-sm-2 col-form-label">{{ entry_address_1 }}</label>
										<div class="col-sm-10">
											<input type="text" name="address[{{ address_row }}][address_1]" value="{{ address.address_1 }}" placeholder="{{ entry_address_1 }}" id="input-address-1-{{ address_row }}" class="form-control"/>
										</div>
									</div>
									<div class="form-group row">
										<label for="input-address-2{{ address_row }}" class="col-sm-2 col-form-label">{{ entry_address_2 }}</label>
										<div class="col-sm-10">
											<input type="text" name="address[{{ address_row }}][address_2]" value="{{ address.address_2 }}" placeholder="{{ entry_address_2 }}" id="input-address-2-{{ address_row }}" class="form-control"/>
										</div>
									</div>
									<div class="form-group row required">
										<label for="input-city{{ address_row }}" class="col-sm-2 col-form-label">{{ entry_city }}</label>
										<div class="col-sm-10">
											<input type="text" name="address[{{ address_row }}][city]" value="{{ address.city }}" placeholder="{{ entry_city }}" id="input-city-{{ address_row }}" class="form-control"/>
										</div>
									</div>
									<div class="form-group row required">
										<label for="input-postcode{{ address_row }}" class="col-sm-2 col-form-label">{{ entry_postcode }}</label>
										<div class="col-sm-10">
											<input type="text" name="address[{{ address_row }}][postcode]" value="{{ address.postcode }}" placeholder="{{ entry_postcode }}" id="input-postcode-{{ address_row }}" class="form-control"/>
										</div>
									</div>
									<div class="form-group row required">
										<label for="input-country{{ address_row }}" class="col-sm-2 col-form-label">{{ entry_country }}</label>
										<div class="col-sm-10">
											<select name="address[{{ address_row }}][country_id]" id="input-country-{{ address_row }}" class="form-control" data-address-row="{{ address_row }}" data-zone-id="{{ address.zone_id }}" disabled>
												<option value="">{{ text_select }}</option>
												{% for country in countries %}
													{% if country.country_id == address.country_id %}
														<option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
													{% else %}
														<option value="{{ country.country_id }}">{{ country.name }}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group row required">
										<label for="input-zone-{{ address_row }}" class="col-sm-2 col-form-label">{{ entry_zone }}</label>
										<div class="col-sm-10">
											<select name="address[{{ address_row }}][zone_id]" id="input-zone{{ address_row }}" class="form-control" disabled></select>
										</div>
									</div>
									{% for custom_field in custom_fields %}
										{% if custom_field.location == 'address' %}
											{% if custom_field.type == 'select' %}
												<div class="form-group row custom-field custom-field-{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">
													<label for="input-address{{ address_row }}-custom-field-{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
													<div class="col-sm-10">
														<select name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}]" id="input-address-{{ address_row }}-custom-field-{{ custom_field.custom_field_id }}" class="form-control">
															<option value="">{{ text_select }}</option>
															{% for custom_field_value in custom_field.custom_field_value %}
																{% if address.custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == address.custom_field[custom_field.custom_field_id] %}
																	<option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
																{% else %}
																	<option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
																{% endif %}
															{% endfor %}
														</select>
													</div>
												</div>
											{% endif %}
											{% if custom_field.type == 'radio' %}
												<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">
													<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
													<div class="col-sm-10">
														<div class="form-control" style="height: 150px; overflow: auto;">
															{% for custom_field_value in custom_field.custom_field_value %}
																<label class="form-check">
																	{% if address.custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == address.custom_field[custom_field.custom_field_id] %}
																		<input type="radio" name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" class="form-check-input"/>
																		{{ custom_field_value.name }}
																	{% else %}
																		<input type="radio" name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
																		{{ custom_field_value.name }}
																	{% endif %}
																</label>
															{% endfor %}
														</div>
													</div>
												</div>
											{% endif %}
											{% if custom_field.type == 'checkbox' %}
												<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">
													<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
													<div class="col-sm-10">
														<div class="form-control" style="height: 150px; overflow: auto;">
															<div id="input-address-{{ address_row }}-custom-field{{ custom_field.custom_field_id }}">
																{% for custom_field_value in custom_field.custom_field_value %}
																	<label class="form-check">
																		{% if address.custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in address.custom_field[custom_field.custom_field_id] %}
																			<input type="checkbox" name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" class="form-check-input"/>
																			{{ custom_field_value.name }}
																		{% else %}
																			<input type="checkbox" name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
																			{{ custom_field_value.name }}
																		{% endif %}
																	</label>
																{% endfor %}
															</div>
														</div>
													</div>
												</div>
											{% endif %}
											{% if custom_field.type == 'text' %}
												<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">
													<label for="input-address{{ address_row }}-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
													<div class="col-sm-10">
														<input type="text" name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}]" value="{{ address.custom_field[custom_field.custom_field_id] ? address.custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-address-{{ address_row }}-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
													</div>
												</div>
											{% endif %}
											{% if custom_field.type == 'textarea' %}
												<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">
													<label for="input-address{{ address_row }}-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
													<div class="col-sm-10">
														<textarea name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-address-{{ address_row }}-custom-field{{ custom_field.custom_field_id }}" class="form-control">{{ address.custom_field[custom_field.custom_field_id] ? address.custom_field[custom_field.custom_field_id] : custom_field.value }}</textarea>
													</div>
												</div>
											{% endif %}
											{% if custom_field.type == 'file' %}
												<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">
													<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
													<div class="col-sm-10">
														<button type="button" id="button-custom-field{{ address_row }}-{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fas fa-upload"></i> {{ button_upload }}</button>
														<input type="hidden" name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}]" value="{{ address.custom_field[custom_field.custom_field_id] ? address.custom_field[custom_field.custom_field_id] }}"/>
													</div>
												</div>
											{% endif %}
											{% if custom_field.type == 'date' %}
												<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">
													<label for="input-address{{ address_row }}-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
													<div class="col-sm-10">
														<div class="input-group date">
															<input type="text" name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}]" value="{{ address.custom_field[custom_field.custom_field_id] ? address.custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-address{{ address_row }}-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
															<div class="input-group-append">
																<div class="input-group-text"><i class="fas fa-calendar"></i></div>
															</div>
														</div>
													</div>
												</div>
											{% endif %}
											{% if custom_field.type == 'time' %}
												<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">
													<label for="input-address{{ address_row }}-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
													<div class="col-sm-10">
														<div class="input-group time">
															<input type="text" name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}]" value="{{ address.custom_field[custom_field.custom_field_id] ? address.custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-address{{ address_row }}-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
															<div class="input-group-append">
																<div class="input-group-text"><i class="fas fa-calendar"></i></div>
															</div>
														</div>
													</div>
												</div>
											{% endif %}
											{% if custom_field.type == 'datetime' %}
												<div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">
													<label for="input-address{{ address_row }}-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
													<div class="col-sm-10">
														<div class="input-group datetime">
															<input type="text" name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}]" value="{{ address.custom_field[custom_field.custom_field_id] ? address.custom_field[custom_field.custom_field_id] : custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-address{{ address_row }}-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
															<div class="input-group-append">
																<div class="input-group-text"><i class="fas fa-calendar"></i></div>
															</div>
														</div>
													</div>
												</div>
											{% endif %}
										{% endif %}
									{% endfor %}
									<div class="form-group row">
										<label class="col-sm-2 col-form-label">{{ entry_default }}</label>
										<div class="col-sm-10">
											<label class="form-check">
												{% if default == address_row %}
													<input type="radio" name="default" value="{{ address_row }}" checked="checked" class="form-check-input"/>
												{% else %}
													<input type="radio" name="default" value="{{ address_row }}" class="form-check-input"/>
												{% endif %}
											</label>
										</div>
									</div>
								</fieldset>
								{% set address_row = address_row + 1 %}
							{% endfor %}
							<div class="text-right">
								<button type="button" id="button-address" class="btn btn-primary"><i class="fas fa-plus-circle"></i> {{ button_address_add }}</button>
							</div>
						</div>
						{% if customer_id %}
							<div id="tab-history" class="tab-pane">
								<fieldset>
									<legend>{{ text_history }}</legend>
									<div id="history"></div>
								</fieldset>
								<br/>
								<fieldset>
									<legend>{{ text_history_add }}</legend>
									<div class="form-group row">
										<label for="input-comment" class="col-sm-2 col-form-label">{{ entry_comment }}</label>
										<div class="col-sm-10">
											<textarea name="comment" rows="8" placeholder="{{ entry_comment }}" id="input-comment" class="form-control"></textarea>
										</div>
									</div>
								</fieldset>
								<div class="text-right">
									<button id="button-history" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> {{ button_history_add }}</button>
								</div>
							</div>
							<div id="tab-transaction" class="tab-pane">
								<fieldset>
									<legend>{{ text_transaction }}</legend>
									<div id="transaction"></div>
								</fieldset>
								<br/>
								<fieldset>
									<legend>{{ text_transaction_add }}</legend>
									<div class="form-group row">
										<label for="input-transaction-description" class="col-sm-2 col-form-label">{{ entry_description }}</label>
										<div class="col-sm-10">
											<input type="text" name="description" value="" placeholder="{{ entry_description }}" id="input-transaction-description" class="form-control"/>
										</div>
									</div>
									<div class="form-group row">
										<label for="input-amount" class="col-sm-2 col-form-label">{{ entry_amount }}</label>
										<div class="col-sm-10">
											<input type="text" name="amount" value="" placeholder="{{ entry_amount }}" id="input-amount" class="form-control"/>
										</div>
									</div>
								</fieldset>
								<div class="text-right">
									<button type="button" id="button-transaction" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> {{ button_transaction_add }}</button>
								</div>
							</div>
							<div id="tab-reward" class="tab-pane">
								<fieldset>
									<legend>{{ text_reward }}</legend>
									<div id="reward"></div>
								</fieldset>
								<br/>
								<fieldset>
									<legend>{{ text_reward_add }}</legend>
									<div class="form-group row">
										<label for="input-reward-description" class="col-sm-2 col-form-label">{{ entry_description }}</label>
										<div class="col-sm-10">
											<input type="text" name="description" value="" placeholder="{{ entry_description }}" id="input-reward-description" class="form-control"/>
										</div>
									</div>
									<div class="form-group row">
										<label for="input-points" class="col-sm-2 col-form-label">{{ entry_points }}</label>
										<div class="col-sm-10">
											<input type="text" name="points" value="" placeholder="{{ entry_points }}" id="input-points" class="form-control"/>
											<small class="form-text text-muted">{{ help_points }}</small>
										</div>
									</div>
								</fieldset>
								<div class="text-right">
									<button type="button" id="button-reward" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> {{ button_reward_add }}</button>
								</div>
							</div>
						{% endif %}
						<div id="tab-ip" class="tab-pane">
							<fieldset>
								<legend>{{ text_ip }}</legend>
								<div id="ip"></div>
							</fieldset>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('select[name=\'customer_group_id\']').on('change', function() {
    $.ajax({
        url: 'index.php?route=customer/customer|customfield&user_token={{ user_token }}&customer_group_id=' + this.value,
        dataType: 'json',
        success: function(json) {
            $('.custom-field').hide();
            $('.custom-field').removeClass('required');

            for (i = 0; i < json.length; i++) {
                custom_field = json[i];

                $('.custom-field' + custom_field['custom_field_id']).show();

                if (custom_field['required']) {
                    $('.custom-field' + custom_field['custom_field_id']).addClass('required');
                }
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$('select[name=\'customer_group_id\']').trigger('change');
//--></script>
<script type="text/javascript"><!--
var address_row = {{ address_row }};

$('#button-address').on('click', function(e) {
    e.preventDefault();

    html = '<fieldset id="address-row' + address_row + '">';
    html += '  <legend>{{ text_address }} ' + (address_row + 1) + ' <button type="button" onclick="$(\'#address-row' + address_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-sm float-right"><i class="fas fa-minus-circle"></i></button></legend>';
    html += '  <input type="hidden" name="address[' + address_row + '][address_id]" value="" />';

    html += '  <div class="form-group row required">';
    html += '    <label for="input-firstname' + address_row + '" class="col-sm-2 col-form-label">{{ entry_firstname }}</label>';
    html += '    <div class="col-sm-10"><input type="text" name="address[' + address_row + '][firstname]" value="" placeholder="{{ entry_firstname }}" id="input-firstname' + address_row + '" class="form-control" /></div>';
    html += '  </div>';

    html += '  <div class="form-group row required">';
    html += '    <label for="input-lastname' + address_row + '" class="col-sm-2 col-form-label">{{ entry_lastname }}</label>';
    html += '    <div class="col-sm-10"><input type="text" name="address[' + address_row + '][lastname]" value="" placeholder="{{ entry_lastname }}" id="input-lastname' + address_row + '" class="form-control" /></div>';
    html += '  </div>';

    html += '  <div class="form-group row">';
    html += '    <label for="input-company' + address_row + '" class="col-sm-2 col-form-label">{{ entry_company }}</label>';
    html += '    <div class="col-sm-10"><input type="text" name="address[' + address_row + '][company]" value="" placeholder="{{ entry_company }}" id="input-company' + address_row + '" class="form-control" /></div>';
    html += '  </div>';

    html += '  <div class="form-group row required">';
    html += '    <label for="input-address-1' + address_row + '" class="col-sm-2 col-form-label">{{ entry_address_1 }}</label>';
    html += '    <div class="col-sm-10"><input type="text" name="address[' + address_row + '][address_1]" value="" placeholder="{{ entry_address_1 }}" id="input-address-1' + address_row + '" class="form-control" /></div>';
    html += '  </div>';

    html += '  <div class="form-group row">';
    html += '    <label for="input-address-2' + address_row + '" class="col-sm-2 col-form-label">{{ entry_address_2 }}</label>';
    html += '    <div class="col-sm-10"><input type="text" name="address[' + address_row + '][address_2]" value="" placeholder="{{ entry_address_2 }}" id="input-address-2' + address_row + '" class="form-control" /></div>';
    html += '  </div>';

    html += '  <div class="form-group row required">';
    html += '    <label for="input-city' + address_row + '" class="col-sm-2 col-form-label">{{ entry_city }}</label>';
    html += '    <div class="col-sm-10"><input type="text" name="address[' + address_row + '][city]" value="" placeholder="{{ entry_city }}" id="input-city' + address_row + '" class="form-control" /></div>';
    html += '  </div>';

    html += '  <div class="form-group row required">';
    html += '    <label for="input-postcode' + address_row + '" class="col-sm-2 col-form-label">{{ entry_postcode }}</label>';
    html += '    <div class="col-sm-10"><input type="text" name="address[' + address_row + '][postcode]" value="" placeholder="{{ entry_postcode }}" id="input-postcode' + address_row + '" class="form-control" /></div>';
    html += '  </div>';

    html += '  <div class="form-group row required">';
    html += '    <label for="input-country' + address_row + '" class="col-sm-2 col-form-label">{{ entry_country }}</label>';
    html += '    <div class="col-sm-10">';
    html += '       <select name="address[' + address_row + '][country_id]" id="input-country' + address_row + '" data-address-row="' + address_row + '" data-zone-id="0" class="form-control" disabled>';
    html += '         <option value="">{{ text_select }}</option>';
	{% for country in countries %}
    html += '         <option value="{{ country.country_id }}">{{ country.name|escape('js') }}</option>';
	{% endfor %}
    html += '      </select>';
    html += '    </div>';
    html += '  </div>';

    html += '  <div class="form-group row required">';
    html += '    <label for="input-zone' + address_row + '" class="col-sm-2 col-form-label">{{ entry_zone }}</label>';
    html += '    <div class="col-sm-10"><select name="address[' + address_row + '][zone_id]" id="input-zone' + address_row + '" class="form-control" disabled><option value="">{{ text_none }}</option></select></div>';
    html += '  </div>';

    // Custom Fields
	{% for custom_field in custom_fields %}
	{% if custom_field.location == 'address' %}
	{% if custom_field.type == 'select' %}

    html += '  <div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">';
    html += '    <label for="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name|e('js') }}</label>';
    html += '  	 <div class="col-sm-10">';
    html += '      <select name="address[' + address_row + '][custom_field][{{ custom_field.custom_field_id }}]" id="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="form-control">';
    html += '        <option value="">{{ text_select }}</option>';

	{% for custom_field_value in custom_field.custom_field_value %}
    html += '  		 <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name|e('js') }}</option>';
	{% endfor %}

    html += '  	     </select>';
    html += '  	   </div>';
    html += '    </div>';
	{% endif %}

	{% if custom_field.type == 'radio' %}
    html += '  	  <div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}">';
    html += '  		<label class="col-sm-2 col-form-label">{{ custom_field.name|e('js') }}</label>';
    html += '  		<div class="col-sm-10">';
    html += '  		  <div>';

	{% for custom_field_value in custom_field.custom_field_value %}
    html += '  			<label class="form-check"><input type="radio" name="address[' + address_row + '][custom_field][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input" /> {{ custom_field_value.name|e('js') }}</label>';
	{% endfor %}

    html += '		  </div>';
    html += '		</div>';
    html += '	  </div>';
	{% endif %}

	{% if custom_field.type == 'checkbox' %}
    html += '	  <div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">';
    html += '		<label class="col-sm-2 col-form-label">{{ custom_field.name|e('js') }}</label>';
    html += '		<div class="col-sm-10">';
    html += '		  <div class="form-control" style="height: 150px; overflow: auto;">';

	{% for custom_field_value in custom_field.custom_field_value %}
    html += '			<label class="form-check"><input type="checkbox" name="address[{{ address_row }}][custom_field][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/> {{ custom_field_value.name|e('js') }}</label>';
	{% endfor %}

    html += '		  </div>';
    html += '		</div>';
    html += '	  </div>';
	{% endif %}

	{% if custom_field.type == 'text' %}
    html += '	  <div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">';
    html += '		<label for="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name|e('js') }}</label>';
    html += '		<div class="col-sm-10">';
    html += '		  <input type="text" name="address[' + address_row + '][custom_field][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value|e('js') }}" placeholder="{{ custom_field_value.name|e('js') }}" id="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="form-control" />';
    html += '		</div>';
    html += '	  </div>';
	{% endif %}

	{% if custom_field.type == 'textarea' %}
    html += '	  <div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">';
    html += '		<label for="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name|e('js') }}</label>';
    html += '		<div class="col-sm-10">';
    html += '		  <textarea name="address[' + address_row + '][custom_field][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field_value.name|e('js') }}" id="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="form-control">{{ custom_field.value|e('js') }}</textarea>';
    html += '		</div>';
    html += '	  </div>';
	{% endif %}

	{% if custom_field.type == 'file' %}
    html += '	  <div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">';
    html += '		<label class="col-sm-2 col-form-label">{{ custom_field.name|e('js') }}</label>';
    html += '		<div class="col-sm-10">';
    html += '		  <button type="button" id="button-custom-field' + address_row + '-{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fas fa-upload"></i> {{ button_upload }}</button>';
    html += '		  <input type="hidden" name="address[' + address_row + '][{{ custom_field.custom_field_id }}]" value="" id="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" />';
    html += '		</div>';
    html += '	  </div>';
	{% endif %}

	{% if custom_field.type == 'date' %}
    html += '	  <div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">';
    html += '		<label for="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name|e('js') }}</label>';
    html += '		<div class="col-sm-10">';
    html += '		  <div class="input-group date"><input type="text" name="address[' + address_row + '][custom_field][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value|e('js') }}" placeholder="{{ custom_field.name|e('js') }}" id="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="form-control" /><div class="input-group-append"><div class="input-group-text"><i class="fas fa-calendar"></i></div></div></div>';
    html += '		</div>';
    html += '	  </div>';
	{% endif %}

	{% if custom_field.type == 'time' %}
    html += '	  <div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">';
    html += '		<label for="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name|e('js') }}</label>';
    html += '		<div class="col-sm-10">';
    html += '		  <div class="input-group time"><input type="text" name="address[' + address_row + '][custom_field][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value|e('js') }}" placeholder="{{ custom_field.name|e('js') }}" id="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="form-control" /><div class="input-group-append"><div class="input-group-text"><i class="fas fa-calendar"></i></div></div></div>';
    html += '		</div>';
    html += '	  </div>';
	{% endif %}

	{% if custom_field.type == 'datetime' %}
    html += '     <div class="form-group row custom-field custom-field{{ custom_field.custom_field_id }}" data-sort="{{ custom_field.sort_order + 1 }}">';
    html += '       <label for="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="col-sm-2 col-form-label">{{ custom_field.name|e('js') }}</label>';
    html += '       <div class="col-sm-10">';
    html += '         <div class="input-group datetime"><input type="text" name="address[' + address_row + '][custom_field][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value|e('js') }}" placeholder="{{ custom_field.name|e('js') }}" id="input-address' + address_row + '-custom-field{{ custom_field.custom_field_id }}" class="form-control" /><div class="input-group-append"><div class="input-group-text"><i class="fas fa-calendar"></i></div></div></div>';
    html += '       </div>';
    html += '     </div>';
	{% endif %}

	{% endif %}
	{% endfor %}

    html += '  <div class="form-group row">';
    html += '    <label class="col-sm-2 col-form-label">{{ entry_default }}</label>';
    html += '    <div class="col-sm-10"><label class="form-check"><input type="radio" name="default" value="' + address_row + '" class="form-check-input"/></label></div>';
    html += '  </div>';

    html += '</fieldset>';

    $(this).parent().before(html);

    $('select[name=\'customer_group_id\']').trigger('change');

    $('select[name=\'address[' + address_row + '][country_id]\']').trigger('change');

    $('.date').datetimepicker({
        'format': 'YYYY-MM-DD',
        'locale': '{{ datepicker }}',
        'allowInputToggle': true
    });

    $('.time').datetimepicker({
        'format': 'HH:mm',
        'locale': '{{ datepicker }}',
        'allowInputToggle': true
    });

    $('.datetime').datetimepicker({
        'format': 'YYYY-MM-DD HH:mm',
        'locale': '{{ datepicker }}',
        'allowInputToggle': true
    });

    $('#address-row' + address_row + ' .form-group[data-sort]').detach().each(function() {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#address-row' + address_row + ' .form-group').length) {
            $('#address-row' + address_row + ' .form-group').eq($(this).attr('data-sort')).before(this);
        }

        if ($(this).attr('data-sort') > $('#address-row' + address_row + ' .form-group').length) {
            $('#address-row' + address_row + ' .form-group:last').after(this);
        }

        if ($(this).attr('data-sort') < -$('#address-row' + address_row + ' .form-group').length) {
            $('#address-row' + address_row + ' .form-group:first').before(this);
        }
    });

    address_row++;
});

//--></script>
<script type="text/javascript"><!--
var zone = [];

$('#tab-address').on('change', 'select[name$=\'[country_id]\']', function() {
    var element = this;

    $(element).prop('disabled', true);

    $('select[name=\'address[' + $(element).attr('data-address-row') + '][zone_id]\']').prop('disabled', false);

    if (!zone[$(element).val()]) {
        $.ajax({
            url: 'index.php?route=localisation/country|country&user_token={{ user_token }}&country_id=' + $(element).val(),
            dataType: 'json',
            beforeSend: function() {
                $(element).prop('disabled', true);
            },
            complete: function() {
                $(element).prop('disabled', false);
            },
            success: function(json) {
                zone[$(element).val()] = json;

                if (json['postcode_required'] == '1') {
                    $('input[name=\'address[' + $(element).attr('data-address-row') + '][postcode]\']').parent().parent().addClass('required');
                } else {
                    $('input[name=\'address[' + $(element).attr('data-address-row') + '][postcode]\']').parent().parent().removeClass('required');
                }

                html = '<option value="">{{ text_select }}</option>';

                if (json['zone'] && json['zone'] != '') {
                    for (i = 0; i < json['zone'].length; i++) {
                        html += '<option value="' + json['zone'][i]['zone_id'] + '"';

                        if (json['zone'][i]['zone_id'] == $(element).attr('data-zone-id')) {
                            html += ' selected="selected"';
                        }

                        html += '>' + json['zone'][i]['name'] + '</option>';
                    }
                } else {
                    html += '<option value="0">{{ text_none }}</option>';
                }

                $('#tab-address select[name=\'address[' + $(element).attr('data-address-row') + '][zone_id]\']').html(html);

                $('#tab-address select[name=\'address[' + $(element).attr('data-address-row') + '][zone_id]\']').prop('disabled', false);

                $(element).prop('disabled', false);

                $('#tab-address select[name$=\'[country_id]\']:disabled:first').trigger('change');
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    } else {
        html = '<option value="">{{ text_select }}</option>';

        if (zone[$(element).val()]['zone'] && zone[$(element).val()]['zone'] != '') {
            for (i = 0; i < zone[$(element).val()]['zone'].length; i++) {
                html += '<option value="' + zone[$(element).val()]['zone'][i]['zone_id'] + '"';

                if (zone[$(element).val()]['zone'][i]['zone_id'] == $(element).attr('data-zone-id')) {
                    html += ' selected="selected"';
                }

                html += '>' + zone[$(element).val()]['zone'][i]['name'] + '</option>';
            }
        } else {
            html += '<option value="0">{{ text_none }}</option>';
        }

        $('#tab-address select[name=\'address[' + $(element).attr('data-address-row') + '][zone_id]\']').html(html);

        $('#tab-address select[name=\'address[' + $(element).attr('data-address-row') + '][zone_id]\']').prop('disabled', false);

        $(element).prop('disabled', false);

        $('#tab-address select[name$=\'[country_id]\']:disabled:first').trigger('change');
    }
});

$('#tab-address select[name$=\'[country_id]\']:first').trigger('change');
//--></script>
<script type="text/javascript"><!--
$('#history').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#history').load(this.href);
});

$('#history').load('index.php?route=customer/customer|history&user_token={{ user_token }}&customer_id={{ customer_id }}');

$('#button-history').on('click', function(e) {
    e.preventDefault();

    $.ajax({
        url: 'index.php?route=customer/customer|addhistory&user_token={{ user_token }}&customer_id={{ customer_id }}',
        type: 'post',
        dataType: 'json',
        data: 'comment=' + encodeURIComponent($('#tab-history textarea[name=\'comment\']').val()),
        beforeSend: function() {
            $('#button-history').button('loading');
        },
        complete: function() {
            $('#button-history').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible').remove();

            if (json['error']) {
                $('#tab-history').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }

            if (json['success']) {
                $('#tab-history').prepend('<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                $('#history').load('index.php?route=customer/customer|history&user_token={{ user_token }}&customer_id={{ customer_id }}');

                $('#tab-history textarea[name=\'comment\']').val('');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script>
<script type="text/javascript"><!--
$('#transaction').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#transaction').load(this.href);
});

$('#transaction').load('index.php?route=customer/customer|transaction&user_token={{ user_token }}&customer_id={{ customer_id }}');

$('#button-transaction').on('click', function(e) {
    e.preventDefault();

    $.ajax({
        url: 'index.php?route=customer/customer|addtransaction&user_token={{ user_token }}&customer_id={{ customer_id }}',
        type: 'post',
        dataType: 'json',
        data: 'description=' + encodeURIComponent($('#tab-transaction input[name=\'description\']').val()) + '&amount=' + encodeURIComponent($('#tab-transaction input[name=\'amount\']').val()),
        beforeSend: function() {
            $('#button-transaction').button('loading');
        },
        complete: function() {
            $('#button-transaction').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible').remove();

            if (json['error']) {
                $('#tab-transaction').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }

            if (json['success']) {
                $('#tab-transaction').prepend('<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                $('#transaction').load('index.php?route=customer/customer|transaction&user_token={{ user_token }}&customer_id={{ customer_id }}');

                $('#tab-transaction input[name=\'amount\']').val('');
                $('#tab-transaction input[name=\'description\']').val('');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script>
<script type="text/javascript"><!--
$('#reward').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#reward').load(this.href);
});

$('#reward').load('index.php?route=customer/customer|reward&user_token={{ user_token }}&customer_id={{ customer_id }}');

$('#button-reward').on('click', function(e) {
    e.preventDefault();

    $.ajax({
        url: 'index.php?route=customer/customer|addreward&user_token={{ user_token }}&customer_id={{ customer_id }}',
        type: 'post',
        dataType: 'json',
        data: 'description=' + encodeURIComponent($('#tab-reward input[name=\'description\']').val()) + '&points=' + encodeURIComponent($('#tab-reward input[name=\'points\']').val()),
        beforeSend: function() {
            $('#button-reward').button('loading');
        },
        complete: function() {
            $('#button-reward').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible').remove();

            if (json['error']) {
                $('#tab-reward').prepend('<div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            }

            if (json['success']) {
                $('#tab-reward').prepend('<div class="alert alert-success alert-dismissible"><i class="fas fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                $('#reward').load('index.php?route=customer/customer|reward&user_token={{ user_token }}&customer_id={{ customer_id }}');

                $('#tab-reward input[name=\'points\']').val('');
                $('#tab-reward input[name=\'description\']').val('');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$('#ip').on('click', '.pagination a', function(e) {
    e.preventDefault();

    $('#ip').load(this.href);
});

$('#ip').load('index.php?route=customer/customer|ip&user_token={{ user_token }}&customer_id={{ customer_id }}');

$('#content').on('click', 'button[id^=\'button-custom-field\']', function() {
    var element = this;

    $('#form-upload').remove();

    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

    $('#form-upload input[name=\'file\']').trigger('click');

    $('#form-upload input[name=\'file\']').on('change', function() {
        if (this.files[0].size > {{ config_file_max_size }}) {
            $(this).val('');

            alert('{{ error_upload_size }}');
        }
    });

    if (typeof timer != 'undefined') {
        clearInterval(timer);
    }

    timer = setInterval(function() {
        if ($('#form-upload input[name=\'file\']').val() != '') {
            clearInterval(timer);

            $.ajax({
                url: 'index.php?route=tool/upload|upload&user_token={{ user_token }}',
                type: 'post',
                dataType: 'json',
                data: new FormData($('#form-upload')[0]),
                cache: false,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    $(element).button('loading');
                },
                complete: function() {
                    $(element).button('reset');
                },
                success: function(json) {
                    $(element).parent().find('.invalid-tooltip').remove();

                    if (json['error']) {
                        $(element).parent().find('input[type=\'hidden\']').after('<div class="invalid-tooltip d-block">' + json['error'] + '</div>');
                    }

                    if (json['success']) {
                        alert(json['success']);
                    }

                    if (json['code']) {
                        $(element).parent().find('input[type=\'hidden\']').val(json['code']);
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        }
    }, 500);
});

$('.date').datetimepicker({
    'format': 'YYYY-MM-DD',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});

$('.time').datetimepicker({
    'format': 'HH:mm',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});

$('.datetime').datetimepicker({
    'format': 'YYYY-MM-DD HH:mm',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});

// Sort the custom fields
{% set address_row = 0 %}
{% for address in addresses %}
$('#address-row{{ address_row }} .form-group[data-sort]').detach().each(function() {
    if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#address-row{{ address_row }} .form-group').length) {
        $('#address-row{{ address_row }} .form-group').eq($(this).attr('data-sort')).before(this);
    }

    if ($(this).attr('data-sort') > $('#address-row{{ address_row }} .form-group').length) {
        $('#address-row{{ address_row }} .form-group:last').after(this);
    }

    if ($(this).attr('data-sort') < -$('#address-row{{ address_row }} .form-group').length) {
        $('#address-row{{ address_row }} .form-group:first').before(this);
    }
});
{% set address_row = address_row + 1 %}
{% endfor %}

$('#tab-customer .form-group[data-sort]').detach().each(function() {
    if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#tab-customer .form-group').length) {
        $('#tab-customer .form-group').eq($(this).attr('data-sort')).before(this);
    }

    if ($(this).attr('data-sort') > $('#tab-customer .form-group').length) {
        $('#tab-customer .form-group:last').after(this);
    }

    if ($(this).attr('data-sort') < -$('#tab-customer .form-group').length) {
        $('#tab-customer .form-group:first').before(this);
    }
});
//--></script>
<script type="text/javascript"><!--
$('input[name=\'payment\']').on('change', function() {
    $('.payment').hide();

    $('#payment-' + this.value).show();
});

$('input[name=\'payment\']:checked').trigger('change');
//--></script>
{{ footer }}
