<form id="event-list" data-load="{{ action }}" data-target="#event">
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', $(this).prop('checked'));"/></td>
					<td class="text-left">{% if sort == 'code' %}<a href="{{ sort_code }}" class="{{ order|lower }}">{{ column_code }}</a>{% else %}<a href="{{ sort_code }}">{{ column_code }}</a>{% endif %}</td>
					<td class="text-right d-none d-lg-table-cell">{% if sort == 'sort_order' %}<a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>{% else %}<a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>{% endif %}</td>
					<td class="text-right" style="min-width: 103px;">{{ column_action }}</td>
				</tr>
			</thead>
			<tbody>
				{% if events %}
					{% for event in events %}
						<tr>
							<td class="text-center"><input type="checkbox" name="selected[]" value="{{ event.event_id }}"/></td>
							<td class="text-left">{{ event.code }}</td>
							<td class="text-right d-none d-lg-table-cell">{{ event.sort_order }}</td>
							<td class="text-right">
								<button type="button" data-description="{{ event.description }}" data-trigger="{{ event.trigger }}" data-action="{{ event.action }}" class="btn btn-info"><i class="fas fa-info-circle"></i></button>
								{% if not event.status %}
									<button type="button" value="{{ event.enable }}" data-toggle="tooltip" data-title="{{ button_enable }}" class="btn btn-success"><i class="fas fa-plus-circle"></i></button>
								{% else %}
									<button type="button" value="{{ event.disable }}" data-toggle="tooltip" data-title="{{ button_disable }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button>
								{% endif %}</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td class="text-center" colspan="4">{{ text_no_results }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-sm-6 text-left">{{ pagination }}</div>
		<div class="col-sm-6 text-right">{{ results }}</div>
	</div>
</form>