{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-right">
				<button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-country').toggleClass('d-none');" class="btn btn-light d-md-none d-lg-none"><i class="fas fa-filter"></i></button>
				<a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fas fa-plus"></i></a>

				<button type="button" data-action="{{ delete }}" data-form="#country-list" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>

			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div id="filter-country" class="col-md-3 col-sm-12 order-md-9 d-none d-md-block mb-3">
				<div class="card">
					<div class="card-header"><i class="fas fa-filter"></i> {{ text_filter }}</div>
					<div class="card-body">
						<div class="form-group">
							<label class="col-form-label">{{ entry_name }}</label> <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
						</div>
						<div class="form-group">
							<label class="col-form-label">{{ entry_iso_code_2 }}</label> <input type="text" name="filter_iso_code_2" value="{{ filter_iso_code_2 }}" placeholder="{{ entry_iso_code_2 }}" id="input-iso-code-2" class="form-control"/>
						</div>
						<div class="form-group">
							<label class="col-form-label">{{ entry_iso_code_3 }}</label> <input type="text" name="filter_iso_code_3" value="{{ filter_iso_code_3 }}" placeholder="{{ entry_iso_code_3 }}" id="input-iso-code-3" class="form-control"/>
						</div>
						<div class="form-group text-right">
							<button type="button" id="button-filter" class="btn btn-light"><i class="fas fa-filter"></i> {{ button_filter }}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12">
				<div class="card">
					<div class="card-header"><i class="fas fa-list"></i> {{ text_list }}</div>
					<div id="country" class="card-body">{{ list }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('#country').on('click', 'thead a, .pagination a', function(e) {
    e.preventDefault();

    $('#country').load(this.href);
});

$('#button-filter').on('click', function() {
    var url = '';

    var filter_name = $('input[name=\'filter_name\']').val();

    if (filter_name) {
        url += '&filter_name=' + encodeURIComponent(filter_name);
    }

    var filter_iso_code_2 = $('input[name=\'filter_iso_code_2\']').val();

    if (filter_iso_code_2) {
        url += '&filter_iso_code_2=' + encodeURIComponent(filter_iso_code_2);
    }

    var filter_iso_code_3 = $('input[name=\'filter_iso_code_3\']').val();

    if (filter_iso_code_3) {
        url += '&filter_iso_code_3=' + encodeURIComponent(filter_iso_code_3);
    }

    location = 'index.php?route=localisation/country&user_token={{ user_token }}' + url;
});
//--></script>
{{ footer }}
