{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-right">
				<button type="button" data-action="{{ save }}" data-form="#coupon-form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="coupon-form">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a href="#tab-general" data-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab-general">
							<div class="form-group row required">
								<label for="input-name" class="col-sm-2 col-form-label">{{ entry_name }}</label>
								<div class="col-sm-10">
									<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control"/>
								</div>
							</div>
							<div class="form-group row required">
								<label for="input-code" class="col-sm-2 col-form-label">{{ entry_code }}</label>
								<div class="col-sm-10">
									<input type="text" name="code" value="{{ code }}" placeholder="{{ entry_code }}" id="input-code" class="form-control"/>
									<small class="form-text text-muted">{{ help_code }}</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="input-type" class="col-sm-2 col-form-label">{{ entry_type }}</label>
								<div class="col-sm-10">
									<select name="type" id="input-type" class="form-control">
										{% if type == 'P' %}
											<option value="P" selected="selected">{{ text_percent }}</option>
										{% else %}
											<option value="P">{{ text_percent }}</option>
										{% endif %}
										{% if type == 'F' %}
											<option value="F" selected="selected">{{ text_amount }}</option>
										{% else %}
											<option value="F">{{ text_amount }}</option>
										{% endif %}
									</select>
									<small class="form-text text-muted">{{ help_type }}</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="input-discount" class="col-sm-2 col-form-label">{{ entry_discount }}</label>
								<div class="col-sm-10">
									<input type="text" name="discount" value="{{ discount }}" placeholder="{{ entry_discount }}" id="input-discount" class="form-control"/>
								</div>
							</div>
							<div class="form-group row">
								<label for="input-total" class="col-sm-2 col-form-label">{{ entry_total }}</label>
								<div class="col-sm-10">
									<input type="text" name="total" value="{{ total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control"/>
									<small class="form-text text-muted">{{ help_total }}</small>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">{{ entry_logged }}</label>
								<div class="col-sm-10">
									<div class="btn-group btn-group-toggle" data-toggle="buttons">
										{% if logged %}
											<label class="btn btn-outline-secondary active"><input type="radio" name="logged" value="1" checked="checked"/> {{ text_yes }}</label>
											<label class="btn btn-outline-secondary"><input type="radio" name="logged" value="0"/> {{ text_no }}</label>
										{% else %}
											<label class="btn btn-outline-secondary"><input type="radio" name="logged" value="1"/> {{ text_yes }}</label>
											<label class="btn btn-outline-secondary active"><input type="radio" name="logged" value="0" checked="checked"/> {{ text_no }}</label>
										{% endif %}
									</div>
									<small class="form-text text-muted">{{ help_logged }}</small>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">{{ entry_shipping }}</label>
								<div class="col-sm-10">
									<div class="btn-group btn-group-toggle" data-toggle="buttons">
										{% if shipping %}
											<label class="btn btn-outline-secondary active"><input type="radio" name="shipping" value="1" checked="checked"/> {{ text_yes }}</label>
											<label class="btn btn-outline-secondary"><input type="radio" name="shipping" value="0"/> {{ text_no }}</label>
										{% else %}
											<label class="btn btn-outline-secondary"><input type="radio" name="shipping" value="1"/> {{ text_yes }}</label>
											<label class="btn btn-outline-secondary active"><input type="radio" name="shipping" value="0" checked="checked"/> {{ text_no }}</label>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">{{ entry_product }}</label>
								<div class="col-sm-10">
									<input type="text" name="product" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control"/>
									<div class="form-control p-0" style="height: 150px; overflow: auto;">
										<table id="coupon-product" class="table table-sm m-0">
											{% for coupon_product in coupon_products %}
												<tr id="coupon-product{{ coupon_product.product_id }}">
													<td>{{ coupon_product.name }}<input type="hidden" name="coupon_product[]" value="{{ coupon_product.product_id }}"/></td>
													<td class="text-right"><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-minus-circle"></i></button></td>
												</tr>
											{% endfor %}
										</table>
									</div>
									<small class="form-text text-muted">{{ help_product }}</small>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">{{ entry_category }}</label>
								<div class="col-sm-10">
									<input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" class="form-control"/>
									<div class="form-control p-0" style="height: 150px; overflow: auto;">
										<table id="coupon-category" class="table table-sm m-0">
											{% for coupon_category in coupon_categories %}
												<tr id="coupon-category{{ coupon_category.category_id }}">
													<td>{{ coupon_category.name }}<input type="hidden" name="coupon_category[]" value="{{ coupon_category.category_id }}"/></td>
													<td class="text-right"><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-minus-circle"></i></button></td>
												</tr>
											{% endfor %}
										</table>
									</div>
									<small class="form-text text-muted">{{ help_category }}</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="input-date-start" class="col-sm-2 col-form-label">{{ entry_date_start }}</label>
								<div class="col-sm-10 col-md-4">
									<div class="input-group date">
										<input type="text" name="date_start" value="{{ date_start }}" placeholder="{{ entry_date_start }}" id="input-date-start" class="form-control"/>
										<div class="input-group-append">
											<div class="input-group-text"><i class="fas fa-calendar"></i></div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="input-date-end" class="col-sm-2 col-form-label">{{ entry_date_end }}</label>
								<div class="col-sm-10 col-md-4">
									<div class="input-group date">
										<input type="text" name="date_end" value="{{ date_end }}" placeholder="{{ entry_date_end }}" id="input-date-end" class="form-control"/>
										<div class="input-group-append">
											<div class="input-group-text"><i class="fas fa-calendar"></i></div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label for="input-uses-total" class="col-sm-2 col-form-label">{{ entry_uses_total }}</label>
								<div class="col-sm-10">
									<input type="text" name="uses_total" value="{{ uses_total }}" placeholder="{{ entry_uses_total }}" id="input-uses-total" class="form-control"/>
									<small class="form-text text-muted">{{ help_uses_total }}</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="input-uses-customer" class="col-sm-2 col-form-label">{{ entry_uses_customer }}</label>
								<div class="col-sm-10">
									<input type="text" name="uses_customer" value="{{ uses_customer }}" placeholder="{{ entry_uses_customer }}" id="input-uses-customer" class="form-control"/>
									<small class="form-text text-muted">{{ help_uses_customer }}</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
								<div class="col-sm-10">
									<select name="status" id="input-status" class="form-control">
										{% if status %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>
						</div>
						{% if coupon_id %}
							<div id="tab-history" class="tab-pane">
								<fieldset>
									<legend>{{ text_coupon }}</legend>
									<div id="history"></div>
								</fieldset>
							</div>
						{% endif %}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('input[name=\'product\']').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=catalog/product|autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        label: item['name'],
                        value: item['product_id']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        $('input[name=\'product\']').val('');

        $('#coupon-product' + item['value']).remove();

        html = '<tr id="coupon-product' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="coupon_product[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-right"><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#coupon-product').append(html);
    }
});

$('#coupon-product').on('click', '.btn', function() {
    $(this).parent().parent().remove();
});

// Category
$('input[name=\'category\']').autocomplete({
    'source': function(request, response) {
        $.ajax({
            url: 'index.php?route=catalog/category|autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
            dataType: 'json',
            success: function(json) {
                response($.map(json, function(item) {
                    return {
                        label: item['name'],
                        value: item['category_id']
                    }
                }));
            }
        });
    },
    'select': function(item) {
        $('input[name=\'category\']').val('');

        $('#coupon-category' + item['value']).remove();

        html = '<tr id="coupon-category' + item['value'] + '">';
        html += '  <td>' + item['label'] + '<input type="hidden" name="coupon_category[]" value="' + item['value'] + '"/></td>';
        html += '  <td class="text-right"><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-minus-circle"></i></button></td>';
        html += '</tr>';

        $('#coupon-category').append(html);
    }
});

$('#coupon-category').on('click', '.btn', function() {
    $(this).parent().parent().remove();
});
//--></script>
{% if coupon_id %}
	<script type="text/javascript"><!--
  $('#history').on('click', '.pagination a', function(e) {
      e.preventDefault();

      $('#history').load(this.href);
  });

  $('#history').load('index.php?route=marketing/coupon|history&user_token={{ user_token }}&coupon_id={{ coupon_id }}');
  //--></script>
{% endif %}
<script type="text/javascript"><!--
$('.date').datetimepicker({
    'format': 'YYYY-MM-DD',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
});
//--></script>
{{ footer }}