{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-right">
				<button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-seo').toggleClass('d-none');" class="btn btn-light d-md-none d-lg-none"><i class="fas fa-filter"></i></button>
				<a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
				<button type="button" data-action="{{ delete }}" data-form="#seo-url-list" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
			</div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div id="filter-seo" class="col-md-3 col-sm-12 order-md-9 d-none d-md-block mb-3">
				<div class="card">
					<div class="card-header"><i class="fas fa-filter"></i> {{ text_filter }}</div>
					<div class="card-body">
						<div class="form-group">
							<label for="input-keyword" class="col-form-label">{{ entry_keyword }}</label> <input type="text" name="filter_keyword" value="{{ filter_keyword }}" placeholder="{{ entry_keyword }}" id="input-keyword" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="input-key" class="col-form-label">{{ entry_key }}</label> <input type="text" name="filter_key" value="{{ filter_key }}" placeholder="{{ entry_key }}" id="input-key" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="input-value" class="col-form-label">{{ entry_value }}</label> <input type="text" name="filter_value" value="{{ filter_value }}" placeholder="{{ entry_value }}" id="input-value" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="input-store" class="col-form-label">{{ entry_store }}</label> <select name="filter_store_id" id="input-store" class="form-control">
								<option value=""></option>
								{% if filter_store_id == '0' %}
									<option value="0" selected="selected">{{ text_default }}</option>
								{% else %}
									<option value="0">{{ text_default }}</option>
								{% endif %}
								{% for store in stores %}
									{% if store.store_id == filter_store_id %}
										<option value="{{ store.store_id }}" selected="selected">{{ store.name }}</option>
									{% else %}
										<option value="{{ store.store_id }}">{{ store.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label for="input-language" class="col-form-label">{{ entry_language }}</label> <select name="filter_language_id" id="input-language" class="form-control">
								<option value=""></option>
								{% for language in languages %}
									{% if language.language_id == filter_language_id %}
										<option value="{{ language.language_id }}" selected="selected">{{ language.name }}</option>
									{% else %}
										<option value="{{ language.language_id }}">{{ language.name }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
						<div class="text-right">
							<button type="button" id="button-filter" class="btn btn-light"><i class="fas fa-filter"></i> {{ button_filter }}</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12">
				<div class="card">
					<div class="card-header"><i class="fas fa-list"></i> {{ text_list }}</div>
					<div id="seo-url" class="card-body">{{ list }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('#seo-url').on('click', 'thead a, .pagination a', function(e) {
    e.preventDefault();

    $('#seo-url').load(this.href);
});

$('#button-filter').on('click', function() {
    var url = 'index.php?route=design/seo_url&user_token={{ user_token }}';

    var filter_keyword = $('input[name=\'filter_keyword\']').val();

    if (filter_keyword) {
        url += '&filter_keyword=' + encodeURIComponent(filter_keyword);
    }

    var filter_key = $('input[name=\'filter_key\']').val();

    if (filter_key) {
        url += '&filter_key=' + encodeURIComponent(filter_key);
    }

    var filter_value = $('input[name=\'filter_value\']').val();

    if (filter_value) {
        url += '&filter_value=' + encodeURIComponent(filter_value);
    }

    var filter_store_id = $('select[name=\'filter_store_id\']').val();

    if (filter_store_id) {
        url += '&filter_store_id=' + encodeURIComponent(filter_store_id);
    }

    var filter_language_id = $('select[name=\'filter_language_id\']').val();

    if (filter_language_id) {
        url += '&filter_language_id=' + encodeURIComponent(filter_language_id);
    }

    location = url;
});
//--></script>
{{ footer }}