{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-right">
				<button type="button" data-action="{{ save }}" data-form="#filter-form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="filter-form">
					<fieldset>
						<legend>{{ text_group }}</legend>
						<div class="form-group row required">
							<label class="col-sm-2 col-form-label">{{ entry_group }}</label>
							<div class="col-sm-10">
								{% for language in languages %}
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span>
										</div>
										<input type="text" name="filter_group_description[{{ language.language_id }}][name]" value="{{ filter_group_description[language.language_id] ? filter_group_description[language.language_id].name }}" placeholder="{{ entry_group }}" id="input-group-{{ language.language_id }}" class="form-control"/>
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="form-group row">
							<label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
							<div class="col-sm-10">
								<input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>{{ text_value }}</legend>
						<table id="filter" class="table table-bordered table-hover">
							<thead>
								<tr>
									<td class="text-left required">{{ entry_name }}</td>
									<td class="text-right">{{ entry_sort_order }}</td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								{% set filter_row = 0 %}
								{% for filter in filters %}
									<tr id="filter-row{{ filter_row }}">
										<td class="text-left" style="width: 70%;"><input type="hidden" name="filter[{{ filter_row }}][filter_id]" value="{{ filter.filter_id }}"/>
											{% for language in languages %}
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span>
													</div>
													<input type="text" name="filter[{{ filter_row }}][filter_description][{{ language.language_id }}][name]" value="{{ filter.filter_description[language.language_id] ? filter.filter_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-filter-{{ filter_row }}-{{ language.language_id }}" class="form-control"/>
												</div>
											{% endfor %}</td>
										<td class="text-right"><input type="text" name="filter[{{ filter_row }}][sort_order]" value="{{ filter.sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/></td>
										<td class="text-right"><button type="button" onclick="$('#filter-row{{ filter_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>
									</tr>
									{% set filter_row = filter_row + 1 %}
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="2"></td>
									<td class="text-right"><button type="button" id="button-filter" data-toggle="tooltip" title="{{ button_filter_add }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i></button></td>
								</tr>
							</tfoot>
						</table>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
var filter_row = {{ filter_row }};

$('#button-filter').on('click', function() {
    html = '<tr id="filter-row' + filter_row + '">';
    html += '  <td class="text-left" style="width: 70%;"><input type="hidden" name="filter[' + filter_row + '][filter_id]" value=""/>';
	{% for language in languages %}
    html += '  <div class="input-group">';
    html += '    <div class="input-group-prepend">';
    html += '      <span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
    html += '    </div>';
    html += '    <input type="text" name="filter[' + filter_row + '][filter_description][{{ language.language_id }}][name]" value="" placeholder="{{ entry_name }}" id="input-filter-' + filter_row + '-{{ language.language_id }}" class="form-control" />';
    html += '  </div>';
	{% endfor %}
    html += '  </td>';
    html += '  <td class="text-right"><input type="text" name="filter[' + filter_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" /></td>';
    html += '  <td class="text-right"><button type="button" onclick="$(\'#filter-row' + filter_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>';
    html += '</tr>';

    $('#filter tbody').append(html);

    filter_row++;
});
//--></script>
{{ footer }}