{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-right">
				<button type="button" data-action="{{ save }}" data-form="#information-form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="information-form">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a href="#tab-general" data-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
						<li class="nav-item"><a href="#tab-data" data-toggle="tab" class="nav-link">{{ tab_data }}</a></li>
						<li class="nav-item"><a href="#tab-seo" data-toggle="tab" class="nav-link">{{ tab_seo }}</a></li>
						<li class="nav-item"><a href="#tab-design" data-toggle="tab" class="nav-link">{{ tab_design }}</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab-general">
							<ul class="nav nav-tabs" id="language">
								{% for language in languages %}
									<li class="nav-item"><a href="#language{{ language.language_id }}" data-toggle="tab" class="nav-link"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/> {{ language.name }}</a></li>
								{% endfor %}
							</ul>
							<div class="tab-content">
								{% for language in languages %}
									<div class="tab-pane" id="language{{ language.language_id }}">
										<div class="form-group row required">
											<label for="input-title{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_title }}</label>
											<div class="col-sm-10">
												<input type="text" name="information_description[{{ language.language_id }}][title]" value="{{ information_description[language.language_id] ? information_description[language.language_id].title }}" placeholder="{{ entry_title }}" id="input-title-{{ language.language_id }}" class="form-control"/>
											</div>
										</div>
										<div class="form-group row required">
											<label for="input-description{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_description }}</label>
											<div class="col-sm-10">
												<div id="input-description-{{ language.language_id }}">
													<textarea name="information_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" data-toggle="ckeditor" data-lang="{{ ckeditor }}" class="form-control">{{ information_description[language.language_id] ? information_description[language.language_id].description }}</textarea>
												</div>
											</div>
										</div>
										<div class="form-group row required">
											<label for="input-meta-title{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_meta_title }}</label>
											<div class="col-sm-10">
												<input type="text" name="information_description[{{ language.language_id }}][meta_title]" value="{{ information_description[language.language_id] ? information_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title-{{ language.language_id }}" class="form-control"/>
											</div>
										</div>
										<div class="form-group row">
											<label for="input-meta-description{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_meta_description }}</label>
											<div class="col-sm-10">
												<textarea name="information_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description-{{ language.language_id }}" class="form-control">{{ information_description[language.language_id] ? information_description[language.language_id].meta_description }}</textarea>
											</div>
										</div>
										<div class="form-group row">
											<label for="input-meta-keyword{{ language.language_id }}" class="col-sm-2 col-form-label">{{ entry_meta_keyword }}</label>
											<div class="col-sm-10">
												<textarea name="information_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword-{{ language.language_id }}" class="form-control">{{ information_description[language.language_id] ? information_description[language.language_id].meta_keyword }}</textarea>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
						<div id="tab-data" class="tab-pane">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">{{ entry_store }}</label>
								<div class="col-sm-10">
									<div class="form-control" style="height: 150px; overflow: auto;">
										{% for store in stores %}
											<label class="form-check">
												{% if store.store_id in information_store %}
													<input type="checkbox" name="information_store[]" value="{{ store.store_id }}" checked="checked" class="form-check-input"/>
													{{ store.name }}
												{% else %}
													<input type="checkbox" name="information_store[]" value="{{ store.store_id }}" class="form-check-input"/>
													{{ store.name }}
												{% endif %}
											</label>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">{{ entry_bottom }}</label>
								<div class="col-sm-10">
									<div class="btn-group btn-group-toggle" data-toggle="buttons">
										{% if bottom %}
											<label class="btn btn-outline-secondary active"><input type="radio" name="bottom" value="1" checked="checked"/> {{ text_yes }}</label>
											<label class="btn btn-outline-secondary"><input type="radio" name="bottom" value="0"/> {{ text_no }}</label>
										{% else %}
											<label class="btn btn-outline-secondary"><input type="radio" name="bottom" value="1"/> {{ text_yes }}</label>
											<label class="btn btn-outline-secondary active"><input type="radio" name="bottom" value="0" checked="checked"/> {{ text_no }}</label>
										{% endif %}
									</div>
									<small class="form-text text-muted">{{ help_bottom }}</small>
								</div>
							</div>
							<div class="form-group row">
								<label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
								<div class="col-sm-10">
									<select name="status" id="input-status" class="form-control">
										{% if status %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
										{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
								<div class="col-sm-10">
									<input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
								</div>
							</div>
						</div>
						<div id="tab-seo" class="tab-pane">
							<div class="alert alert-info"><i class="fas fa-info-circle"></i> {{ text_keyword }}</div>
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td class="text-left">{{ entry_store }}</td>
											<td class="text-left">{{ entry_keyword }}</td>
										</tr>
									</thead>
									<tbody>
										{% for store in stores %}
											<tr>
												<td class="text-left">{{ store.name }}</td>
												<td class="text-left">
													{% for language in languages %}
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span>
															</div>
															<input type="text" name="information_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if information_seo_url[store.store_id][language.language_id] %}{{ information_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" id="input-keyword-{{ store.store_id }}-{{ language.language_id }}" class="form-control"/>
														</div>
													{% endfor %}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div id="tab-design" class="tab-pane">
							<div class="table-responsive">
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td class="text-left">{{ entry_store }}</td>
											<td class="text-left">{{ entry_layout }}</td>
										</tr>
									</thead>
									<tbody>
										{% for store in stores %}
											<tr>
												<td class="text-left">{{ store.name }}</td>
												<td class="text-left"><select name="information_layout[{{ store.store_id }}]" class="form-control">
														<option value=""></option>
														{% for layout in layouts %}
															{% if information_layout[store.store_id] and information_layout[store.store_id] == layout.layout_id %}
																<option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
															{% else %}
																<option value="{{ layout.layout_id }}">{{ layout.name }}</option>
															{% endif %}
														{% endfor %}
													</select></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('textarea[data-toggle=\'ckeditor\']').ckeditor();

$('#language li:first-child a').tab('show');
//--></script>
{{ footer }} 
