{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="float-right">
				<button type="button" data-action="{{ save }}" data-form="#option-form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
				<a href="{{ back }}" data-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_form }}</div>
			<div class="card-body">
				<form id="option-form">
					<fieldset>
						<legend>{{ text_option }}</legend>
						<div class="form-group row required">
							<label class="col-sm-2 col-form-label">{{ entry_name }}</label>
							<div class="col-sm-10">
								{% for language in languages %}
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span>
										</div>
										<input type="text" name="option_description[{{ language.language_id }}][name]" value="{{ option_description[language.language_id] ? option_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name-{{ language.language_id }}" class="form-control"/>
									</div>
								{% endfor %}
							</div>
						</div>
						<div class="form-group row">
							<label for="input-type" class="col-sm-2 col-form-label">{{ entry_type }}</label>
							<div class="col-sm-10">
								<select name="type" id="input-type" class="form-control">
									<optgroup label="{{ text_choose }}">
										{% if type == 'select' %}
											<option value="select" selected="selected">{{ text_select }}</option>
										{% else %}
											<option value="select">{{ text_select }}</option>
										{% endif %}
										{% if type == 'radio' %}
											<option value="radio" selected="selected">{{ text_radio }}</option>
										{% else %}
											<option value="radio">{{ text_radio }}</option>
										{% endif %}
										{% if type == 'checkbox' %}
											<option value="checkbox" selected="selected">{{ text_checkbox }}</option>
										{% else %}
											<option value="checkbox">{{ text_checkbox }}</option>
										{% endif %}
									</optgroup>
									<optgroup label="{{ text_input }}">
										{% if type == 'text' %}
											<option value="text" selected="selected">{{ text_text }}</option>
										{% else %}
											<option value="text">{{ text_text }}</option>
										{% endif %}
										{% if type == 'textarea' %}
											<option value="textarea" selected="selected">{{ text_textarea }}</option>
										{% else %}
											<option value="textarea">{{ text_textarea }}</option>
										{% endif %}
									</optgroup>
									<optgroup label="{{ text_file }}">
										{% if type == 'file' %}
											<option value="file" selected="selected">{{ text_file }}</option>
										{% else %}
											<option value="file">{{ text_file }}</option>
										{% endif %}
									</optgroup>
									<optgroup label="{{ text_date }}">
										{% if type == 'date' %}
											<option value="date" selected="selected">{{ text_date }}</option>
										{% else %}
											<option value="date">{{ text_date }}</option>
										{% endif %}
										{% if type == 'time' %}
											<option value="time" selected="selected">{{ text_time }}</option>
										{% else %}
											<option value="time">{{ text_time }}</option>
										{% endif %}
										{% if type == 'datetime' %}
											<option value="datetime" selected="selected">{{ text_datetime }}</option>
										{% else %}
											<option value="datetime">{{ text_datetime }}</option>
										{% endif %}
									</optgroup>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
							<div class="col-sm-10">
								<input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>{{ text_value }}</legend>
						<table id="option-value" class="table table-bordered table-hover">
							<thead>
								<tr>
									<td class="text-left required">{{ entry_option_value }}</td>
									<td class="text-center">{{ entry_image }}</td>
									<td class="text-right">{{ entry_sort_order }}</td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								{% set option_value_row = 0 %}
								{% for option_value in option_values %}
									<tr id="option-value-row{{ option_value_row }}">
										<td class="text-center"><input type="hidden" name="option_value[{{ option_value_row }}][option_value_id]" value="{{ option_value.option_value_id }}"/>
											{% for language in languages %}
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span>
													</div>
													<input type="text" name="option_value[{{ option_value_row }}][option_value_description][{{ language.language_id }}][name]" value="{{ option_value.option_value_description[language.language_id] ? option_value.option_value_description[language.language_id].name }}" placeholder="{{ entry_option_value }}" id="input-option-value-{{ option_value_row }}-{{ language.language_id }}" class="form-control"/>
												</div>
											{% endfor %}</td>
										<td class="text-center">
											<div class="card image">
												<img src="{{ option_value.thumb }}" alt="" title="" id="thumb-image-{{ option_value_row }}" data-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="option_value[{{ option_value_row }}][image]" value="{{ option_value.image }}" id="input-image-{{ option_value_row }}"/>
												<div class="card-body">
													<button type="button" data-toggle="image" data-target="#input-image-{{ option_value_row }}" data-thumb="#thumb-image-{{ option_value_row }}" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i> {{ button_edit }}</button>
													<button type="button" data-toggle="clear" data-target="#input-image-{{ option_value_row }}" data-thumb="#thumb-image-{{ option_value_row }}" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i> {{ button_clear }}</button>
												</div>
											</div>
										</td>
										<td class="text-right"><input type="text" name="option_value[{{ option_value_row }}][sort_order]" value="{{ option_value.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control"/></td>
										<td class="text-right"><button type="button" onclick="$('#option-value-row{{ option_value_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>
									</tr>
									{% set option_value_row = option_value_row + 1 %}
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="3"></td>
									<td class="text-right"><button type="button" onclick="addOptionValue();" data-toggle="tooltip" title="{{ button_option_value_add }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i></button></td>
								</tr>
							</tfoot>
						</table>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
$('select[name=\'type\']').on('change', function() {
    if (this.value == 'select' || this.value == 'radio' || this.value == 'checkbox' || this.value == 'image') {
        $('#option-value').parent().show();
    } else {
        $('#option-value').parent().hide();
    }
});

$('select[name=\'type\']').trigger('change');

var option_value_row = {{ option_value_row }};

function addOptionValue() {
    html = '<tr id="option-value-row' + option_value_row + '">';
    html += '  <td class="text-left"><input type="hidden" name="option_value[' + option_value_row + '][option_value_id]" value="" />';
	{% for language in languages %}
    html += '    <div class="input-group">';
    html += '      <div class="input-group-prepend"><span class="input-group-text"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span></div>';
    html += '      <input type="text" name="option_value[' + option_value_row + '][option_value_description][{{ language.language_id }}][name]" value="" placeholder="{{ entry_option_value }}" id="input-option-value-' + option_value_row + '-{{ language.language_id }}" class="form-control" />';
    html += '    </div>';
	{% endfor %}
    html += '  </td>';
    html += '  <td class="text-center">';
    html += '    <div class="card image">';
    html += '      <img src="{{ placeholder }}" alt="" title="" id="thumb-image' + option_value_row + '" data-placeholder="{{ placeholder }}" class="card-img-top"/>';
    html += '      <input type="hidden" name="option_value[' + option_value_row + '][image]" value="" id="input-image' + option_value_row + '"/>';
    html += '      <div class="card-body">';
    html += '        <button type="button" data-toggle="image" data-target="#input-image' + option_value_row + '" data-thumb="#thumb-image' + option_value_row + '" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i> {{ button_edit }}</button>';
    html += '        <button type="button" data-toggle="clear" data-target="#input-image' + option_value_row + '" data-thumb="#thumb-image' + option_value_row + '" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i> {{ button_clear }}</button>';
    html += '      </div>';
    html += '    </div>';
    html += '  </td>';
    html += '  <td class="text-right"><input type="text" name="option_value[' + option_value_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
    html += '  <td class="text-right"><button type="button" onclick="$(\'#option-value-row' + option_value_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>';
    html += '</tr>';

    $('#option-value tbody').append(html);

    option_value_row++;
}
//--></script>
{{ footer }} 