{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>{{ heading_title }}</h1>
			<ol class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header"><i class="fas fa-list"></i> {{ text_list }}</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<td class="text-left">{{ column_name }}</td>
								<td class="text-right">{{ column_value }}</td>
								<td class="text-right">{{ column_action }}</td>
							</tr>
						</thead>
						<tbody>
							{% if statistics %}
								{% for statistic in statistics %}
									<tr>
										<td class="text-left">{{ statistic.name }}</td>
										<td class="text-right">{{ statistic.value }}</td>
										<td class="text-right"><a href="{{ statistic.href }}" data-toggle="tooltip" title="{{ button_refresh }}" class="btn btn-warning"><i class="fas fa-sync"></i></a></td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td class="text-center" colspan="3">{{ text_no_results }}</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{{ footer }}